<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://img.icons8.com/color-glass/48/000000/social-network.png" type="image/x-icon">
    <title>Daily Journal</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/post.css">
    <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = 'd252c0237411446338080b9083b2ca7312b3e144';
        window.smartsupp || (function(d) {
            var s, c, o = smartsupp = function() {
                o._.push(arguments)
            };
            o._ = [];
            s = d.getElementsByTagName('script')[0];
            c = d.createElement('script');
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.async = true;
            c.src = 'https://www.smartsuppchat.com/loader.js?';
            s.parentNode.insertBefore(c, s);
        })(document);
    </script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://img.icons8.com/color-glass/48/000000/social-network.png" alt="Logo" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://gyanam-blog.herokuapp.com/" target="_blank" rel="noopener noreferrer">BLOG 
                        <span class="badge bg-secondary">NEW</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">NEWS 
                        <span class="badge bg-success">NEW</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compose">COMPOSE</a>
                </li>
                <li class="nav-item">
                    <a href="/courses/all/" class="nav-link">G-COURSES
                        <span class="badge bg-primary">NEW</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <div class="container">