<%- include("partials/header") -%>
    <center>
        <h1>NEWS</h1>
        <hr>
        <p class="text-muted">
            We launching mobile application very soon.
        </p>
        <a href="/compose" class="btn btn-outline-primary">COMPOSE A POST</a>
    </center>

    <%- include("partials/footer") -%>