@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley&family=Montserrat:wght@300&display=swap');
html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #F8F8F8;
}

.navbar {
    padding: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #C9CCD5;
}

.navbar-nav li a {
    font-weight: 600;
    color: #39A2DB;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
    border-radius: 10px;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #0099ff;
    position: fixed;
}

.footer p {
    margin-top: 25px;
    font-size: 16px;
    color: #fff;
}

.all-posts {
    overflow-y: auto;
}

.post-div {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.title-header {
    height: 5px;
    border-radius: 2px;
    background-color: #000000;
}

.text-read-more {
    color: #38b6ff;
    text-decoration: none !important;
}

.text-read-more:hover {
    color: #38b6ff;
    text-decoration: none !important;
}

.thumbnail {
    width: 50%;
    height: 150px;
    border-radius: 5px;
}

#authorName {
    font-size: 14px;
    font-family: 'Besley', serif;
}

.img-responsive {
    border-radius: 5px;
}

.post-contain {
    padding: 15px;
    background-color: #ffffff;
}

.content-p {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.go-to-post {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
}

.compose-a-post {
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    background-color: rgb(223, 223, 223);
}

.compose-a-post a {
    color: grey;
    cursor: text;
    text-decoration: none;
}

.compose-a-post a:hover {
    color: grey;
}