@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley&family=Montserrat:wght@300&display=swap');
html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #F8F8F8;
}

.navbar {
    padding: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #C9CCD5;
}

.navbar-nav li a {
    padding: 5px;
    font-weight: 600;
    color: #39A2DB;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
    background-color: #ffffff !important;
    border-radius: 10px;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #0099ff;
    position: fixed;
}

.footer p {
    margin-top: 25px;
    font-size: 16px;
    color: #fff;
}

.all-posts {
    overflow-y: auto;
}

.post-div {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.title-header {
    height: 5px;
    border-radius: 2px;
    background-color: #000000;
}

.text-read-more {
    color: #38b6ff;
    text-decoration: none !important;
}

.text-read-more:hover {
    color: #38b6ff;
    text-decoration: none !important;
}


/* .img-thumbnail {
    width: 60%;
    height: 150px;
    border-radius: 5px;
} */

.img__wrap {
    position: relative;
    height: 150px;
    width: 60%;
    border-radius: 5px;
}

.img__description {
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    height: 150px;
    width: 100%;
    background: rgba(204, 204, 204, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.img__description p {
    margin-top: 50px;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}

#authorName {
    font-size: 18px;
    font-family: 'Besley', serif;
}

.img-responsive {
    border-radius: 5px;
}

.post-contain {
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
}

.content-p {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.go-to-post {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
}

.compose-a-post {
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    background-color: rgb(223, 223, 223);
}

.compose-a-post a {
    color: grey;
    cursor: text;
    text-decoration: none;
}

.compose-a-post a:hover {
    color: grey;
}

.coming-soon-div {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

#g-chat {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: none;
    /* cursor: not-allowed; */
}

#g-chat-2 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.banner-img {
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(228, 228, 228);
    background-size: cover;
    background-position: center;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}